<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<base href="/">
		<title>Angular JS | From Novice to Ninja</title>
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="src/bootstrap.min.css">
		<link rel="stylesheet" href="src/main.css">
	</head>
<body>
	<div class="container">