<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Angular JS | From Novice to Ninja</title>
		<base href="/">
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="src/bootstrap.min.css" />
	</head>
<body>
	<div class="container">