<%- partial('partials/header') %>

		<div class="page-header">
			<h1>Directives</h1>
		</div>
		<div class="row" ng-controller="WeatherController">

			<div class="col-md-6">
				<div hello-world></div>
			</div>

			<div class="col-md-6">
			
			</div>

			
		</div>
<%- partial('partials/footer') %>