<%- partial('partials/header') %>

		<div class="page-header">
			<h1>Directives</h1>
		</div>
		<div class="row" ng-controller="DirController">

			<div class="col-md-6">
				<input type="text" ng-model="message" placeholder="Enter Message" />
				<div hello-world></div>

				<p transclude-directive>Hello World!</p>
			</div>

			<div class="col-md-6">
			
			</div>

			
		</div>
<%- partial('partials/footer') %>