<%- partial('partials/header') %>

		<div class="page-header">
			<h1>$http</h1>
		</div>
		<div class="row" ng-controller="HttpController">

			<div class="col-md-6">
				<p>{{res}}</p>
				<button class="btn btn-default" ng-click="getData()">Get Data</button>
				
			</div>

			<div class="col-md-6">
			
			</div>

			
		</div>
<%- partial('partials/footer') %>