<%- partial('partials/header') %>

		<div class="page-header">
			<h1>Directives</h1>
		</div>
		<div class="row" ng-controller="DirController">

			<div class="col-md-6">
				<div ng-app="app" ng-controller="RatingCtrl" class="container">
				  <h1>Angular Star Rating Directive</h1>
				  <div star-rating ng-model="rating1" max="10" on-rating-selected="rateFunction(rating)"></div>
				  <star-rating ng-model="rating2" readonly="isReadonly"></star-rating>
				  <label>
				    <input type="checkbox" ng-model="isReadonly"/>
				    Is Readonly
				  </label>

				  <div><strong>Rating 1:</strong> {{rating1}}</div>
				  <div><strong>Rating 2:</strong> {{rating2}}</div>
				</div>
			</div>

			<div class="col-md-6">
			
			</div>

			
		</div>
<%- partial('partials/footer') %>