<%- partial('partials/header') %>

		<div class="page-header">
			<h1>Routes</h1>
		</div>
		<ul class="nav">
			<li><a href="#/view1">View 1</a></li>
			<li><a href="#/view2">View 2</a></li>
		</ul>

		<div ng-view class="row">
			
		</div>
<%- partial('partials/footer') %>